.post {
    position: relative;
    left: calc(50% - 30vw);
    width: 60vw;
}

.block-div, .block {
    display: block;
    color: coral;
    border: 1px solid black;
    padding: 1em;
}

.inline {
    display: inline;
    background-color: yellow;
    color: magenta;
    border: 1px solid black;
}

.inline-block {
    display: inline-block;
    padding: 1em;
    background-color: blue;
    color: yellow;
    font-weight: bolder;
    border: 2px solid greenyellow;
    transform: rotate(-5deg);
}

.static {
    position: static;
    border: 1px solid black;
}

.fixed {
    position: fixed;
    bottom: 1em;
    right: 1em;
    background-color: gold;
    padding: 0.5em;
    z-index: 999;
}

.relative {
    position: relative;
    border: 1px solid black;
    left: 1em;
    width: calc(100% - 1em); /* ensures this won't overflow to the right */
}

.scrollable-container {
    position: relative;
    border: 1px solid black;
    max-height: 20vh;
    overflow: scroll;
    p {
        margin: 1em;
    }
}

.sticky {
    position: sticky;
    background-color: midnightblue;
    color: white;
    padding: 1em;
    top: 0; /* ensure that this "sticks" to the top */
}

.absolute-container {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    border: 1px solid black;
}

.absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    border-radius: 10em;
    background-color: orange;
    transform: translate(-50%, -50%);
}

.container {
    border: 1px solid black;
    padding: 1em;
    margin: 1em;
}

.img-right {
    float: right;
    width: 15em;
    aspect-ratio: 1;
    margin: 0.5em;
}

.img-left {
    float: left;
    width: 15em;
    aspect-ratio: 1;
    margin: 0.5em;
}
